// .content {
//   margin-top: 130px;
// }
body {
  background-color: $light-gray;
  font-family: $site-font;
}
a {
  color: #000000;
  &:hover {
    text-decoration: none;
  }
}
h1 {
  margin-bottom: 20px;
  text-align: center;
}

.navbutton {
  background-color: #E9ECEF;
  color: #525256;
  padding: 1em 1.5em;
  text-decoration: none;
  font-weight: 700;
  size: 16px;
  border-radius: 57.0306px;

  &:hover{
    background-color: #ffffff;
    color: #000000;
  }
}

.navlink {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  &:hover {
    color: #F16521;
  }
}

.sectionthree-title {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.585106372833252px;
  text-align: center;
  color: #525256;
}

