.content {
  margin-top: 130px;
}
body {
  background-color: $light-gray;
  font-family: $site-font;
}
a {
  color: #000000;
  &:hover {
    color: #007bff;
    text-decoration: none;
  }
}
h1 {
  margin-bottom: 20px;
  text-align: center;
}
.navbar {
  background-color: #F9FAFA;
  line-height: 1;
  // height: 124px
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: #000000;
  font-weight: 600;
  font-size: 16px;
  &:hover {
    color: #F16521;
  }
}

.navbar-nav > li {
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
}
.button-regular {
  height: 53px;
  width: 124px;
  font-weight: 600;
  font-size: 16px;
  background: #E9ECEF;
  outline: none;
  border-radius: 58px;
}
.button-regular:hover {
  background: #FFFFFF;
}
.button-orange {
  background: #F16521;
  box-shadow: 0px 9px 14px -8px #FF5300;
  border-radius: 17.28px;
}
.button-green {
  background: #1CA78B;
  border-radius: 55px;
}

.nav
