.jumbotext {
    font-family: $site-font;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 53px;
    letter-spacing: -1px;
    text-align: left;
    color: #5D6165;
}