.jumbotext {
    font-family: $site-font;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 53px;
    letter-spacing: -1px;
    text-align: left;
    margin-top: 92px;
}

.jumboimg {
    margin-top: 47px;
}

.gridcard {
    background: #F9F9F9;
    box-shadow: -10px -21px 28px #FFFFFF, 10px 21px 28px #ECEEF1;
    border-radius: 18.4px; 
    border: none;
}

.gridcard-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.800000011920929px;
    text-align: left;     
}

.gridcard-text {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.25999999046325684px;
    text-align: left;
    // width: 58%
}

.gridcard-image {
    width: 20%;
    height: 20%

}

.sectionthree {
    background-color: #FFFFFF;
    height: 453px;
}

.sectionthree-text {
    font-size: 32px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: -0.8510638475418091px;
}

.sectionthree-img {
    width: 52px;
    height: 52px;
}